header{
    width: 80%;
    margin: auto;
    h1{
      text-align: center;
    }
  }
  
  .listContainer{
    width: 80%;
    margin: auto;
    margin-top: 2rem;
  }
  
  
  .formContainer{
    width: 80%;
    margin: auto;
  }
  
  
  
  html, body {
    height: 100%;
  }
  
  body {
    font-family: helvetica;
    font-weight: 100;
    font-size: 14px;
    margin: 0 auto;
    background: #f1f1f1;
  }
  
  .right {
    float: right;
    position: relative;
    top: 6px;
  }
  
  .top {
    margin-top: -66px;
    font-size: 1.3rem;
  }
  
  
  
  ul {
    margin: 0 auto;
    padding: 0;
    max-height: 390px;
    overflow-y: auto;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 5px 5px 0 5px;
    border-left: none;
    border-right: none;
  }
  
  li {
    list-style: none;
    background-color: rgba(0, 0, 0, 0.05);
    background-image: 
      linear-gradient(
        90deg,
        #FFD32E 10px,
        #EEE 10px,
        #EEE 11px,
        transparent 11px);
    padding: 10px 15px 10px 25px;
    border: 1px solid #CCC;
    box-shadow: inset 1px 1px 0 rgba(255, 255, 255, 0.5);
    margin-bottom: 5px;
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 3px;
  }
  
  
  
  
  
  
  
  
  
  
  
  
  button {
    background: none;
    border: 2px solid;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
    &:hover,
    &:focus { 
      border-color: var(--hover);
      color: rgb(201, 131, 131);
    }
  }
  
  label{
    margin: 0.5rem;
  }